version: '3.8'
services:
   db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: = rootpassword 
      MYSQL_DATABASE: testdb
      MYSQL_USER: joao
      MYSQL_PASSWORD: password 
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

   phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
      PMA_HOST: db
      PMA_USER: joao
      PMA_PASSWORD: password
    ports:
      - "8080:80"
    depends_on:
      - db  

volumes:
  db_data: